<h2 id="verifying-that-you-have-the-right-bios"><strong>Verifying that you have the right BIOS</strong></h2>
<p>It is very important that the following requirements are met:</p>
<ol>
<li>Location</li>
<li>Name</li>
<li>File Hash (md5sum)</li>
</ol>
<h3 id="location"><strong>Location</strong></h3>
<p>Ensure that you have placed the BIOS file(s) in the correct location.</p>
<p>Usually is the system folder, which can be located in RetroArch by going to:</p>
<p>Settings-&gt;Directory-&gt;System/BIOS (look at the right column).</p>
<p>The specific core information page will tell you where exactly. (you may need to create a subfolder)</p>
<h3 id="name"><strong>Name</strong></h3>
<p>Verify that the file(s) have the same name and extension that appears in the core info/docs page.</p>
<p>Remember that some operating systems are case sensitive.</p>
<p>###<strong>File Hash (md5sum)</strong>
Last, but probably the most important part of all, the hash of your BIOS should match the one in the docs.</p>
<h4 id="what-is-a-hash"><em>What is a hash?</em></h4>
<p>A File Hash is a string of characters that uniquely identifies a file.</p>
<h4 id="why-should-i-care"><em>Why should i care?</em></h4>
<p>If i rename <em>dog.jpg</em> to <em>bios.bin</em>, how would you know?</p>
<p>If the dump is not the version that the core needs, or if the file integrity is compromised (corrupted), unexpected things (<strong>bad</strong>) can happen.</p>
<p>A file can become corrupted by errors in transmission, write errors during copying or moving, faulty storage media, software bugs, etc.</p>
<h4 id="how-do-i-check-it"><em>How do i check it?</em></h4>
<p>You need two things, a piece of software that can generate a hash from your file and a known valid file hash for the comparison, you will find the correct hash in the corresponding core information page (links below)</p>
<p>As for the software, some operating systems have tools integrated in the commandline that can do the job, but if you prefer a graphical interface look for something like Open-Hashtool, HashMyFiles, etc</p>
<h2 id="links-to-the-core-specific-bios-information">Links to the core specific BIOS information</h2>
<table>
<thead>
<tr>
<th style="text-align: left;">System</th>
<th style="text-align: left;">Core</th>
<th style="text-align: left;">Link</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;">3DO</td>
<td style="text-align: left;">Opera</td>
<td style="text-align: left;"><a href="opera.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">5200/Atari 8-bit computers</td>
<td style="text-align: left;">Atari800</td>
<td style="text-align: left;"><a href="atari800.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">7800</td>
<td style="text-align: left;">ProSystem</td>
<td style="text-align: left;"><a href="prosystem.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Apple</td>
<td style="text-align: left;">minivmac</td>
<td style="text-align: left;"><a href="minivmac.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Arcade</td>
<td style="text-align: left;">MAME2003</td>
<td style="text-align: left;"><a href="mame_2003.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Arcade</td>
<td style="text-align: left;">MAME2003+</td>
<td style="text-align: left;"><a href="mame2003_plus.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Arcade</td>
<td style="text-align: left;">MAME2010</td>
<td style="text-align: left;"><a href="mame_2010.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Arcade</td>
<td style="text-align: left;">SAME_CDI</td>
<td style="text-align: left;"><a href="same_cdi.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">ColecoVision</td>
<td style="text-align: left;">Gearcoleco</td>
<td style="text-align: left;"><a href="gearcoleco.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Dreamcast</td>
<td style="text-align: left;">Flycast</td>
<td style="text-align: left;"><a href="flycast.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">DS</td>
<td style="text-align: left;">DeSmuME</td>
<td style="text-align: left;"><a href="desmume.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Elektronika - BK-0010/BK-0011</td>
<td style="text-align: left;">bk</td>
<td style="text-align: left;"><a href="bk.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Enterprise 128</td>
<td style="text-align: left;">ep128emu</td>
<td style="text-align: left;"><a href="ep128emu.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy/GameBoy Color</td>
<td style="text-align: left;">Emux GB</td>
<td style="text-align: left;"><a href="emux_gb.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy/GameBoy Color</td>
<td style="text-align: left;">Gambatte</td>
<td style="text-align: left;"><a href="gambatte.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy/GameBoy Color</td>
<td style="text-align: left;">Gearboy</td>
<td style="text-align: left;"><a href="gearboy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy/GameBoy Color</td>
<td style="text-align: left;">SameBoy</td>
<td style="text-align: left;"><a href="sameboy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy Advance</td>
<td style="text-align: left;">Beetle GBA</td>
<td style="text-align: left;"><a href="beetle_gba.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy Advance</td>
<td style="text-align: left;">gpSP</td>
<td style="text-align: left;"><a href="gpsp.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy Advance</td>
<td style="text-align: left;">mGBA</td>
<td style="text-align: left;"><a href="mgba.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">GameBoy Advance</td>
<td style="text-align: left;">VBA Next</td>
<td style="text-align: left;"><a href="vba_next.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Gamecube/Wii</td>
<td style="text-align: left;">Dolphin</td>
<td style="text-align: left;"><a href="dolphin.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Intellivision</td>
<td style="text-align: left;">FreeIntv</td>
<td style="text-align: left;"><a href="freeintv.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Lynx</td>
<td style="text-align: left;">Beetle Lynx</td>
<td style="text-align: left;"><a href="beetle_lynx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Lynx</td>
<td style="text-align: left;">Handy</td>
<td style="text-align: left;"><a href="handy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Master System</td>
<td style="text-align: left;">Emux SMS</td>
<td style="text-align: left;"><a href="emux_sms.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MS/GG</td>
<td style="text-align: left;">SMS Plus GX</td>
<td style="text-align: left;"><a href="smsplus.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MS/GG/MD/CD</td>
<td style="text-align: left;">Genesis Plus GX</td>
<td style="text-align: left;"><a href="genesis_plus_gx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MS/GG/SG-1000</td>
<td style="text-align: left;">Gearsystem</td>
<td style="text-align: left;"><a href="gearsystem.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MS/MD/CD/32X</td>
<td style="text-align: left;">PicoDrive</td>
<td style="text-align: left;"><a href="picodrive.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MSX/SVI/ColecoVision/SG-1000</td>
<td style="text-align: left;">blueMSX</td>
<td style="text-align: left;"><a href="bluemsx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">MSX</td>
<td style="text-align: left;">fMSX</td>
<td style="text-align: left;"><a href="fmsx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">NES/Famicom</td>
<td style="text-align: left;">FCEUmm</td>
<td style="text-align: left;"><a href="fceumm.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">NES/Famicom</td>
<td style="text-align: left;">Nestopia UE</td>
<td style="text-align: left;"><a href="nestopia_ue.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">NES/Famicom</td>
<td style="text-align: left;">Mesen</td>
<td style="text-align: left;"><a href="mesen.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Odyssey2/Videopac+</td>
<td style="text-align: left;">O2EM</td>
<td style="text-align: left;"><a href="o2em.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PC-98</td>
<td style="text-align: left;">Neko Project II Kai</td>
<td style="text-align: left;"><a href="neko_project_ii_kai.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PC Engine/CD</td>
<td style="text-align: left;">Beetle PCE FAST</td>
<td style="text-align: left;"><a href="beetle_pce_fast.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PCE SuperGrafx</td>
<td style="text-align: left;">Beetle SGX</td>
<td style="text-align: left;"><a href="beetle_sgx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PC-FX</td>
<td style="text-align: left;">Beetle PC-FX</td>
<td style="text-align: left;"><a href="beetle_pc_fx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PlayStation</td>
<td style="text-align: left;">Beetle PSX</td>
<td style="text-align: left;"><a href="beetle_psx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PlayStation</td>
<td style="text-align: left;">Beetle PSX HW</td>
<td style="text-align: left;"><a href="beetle_psx_hw.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PlayStation</td>
<td style="text-align: left;">PCSX ReARMed</td>
<td style="text-align: left;"><a href="pcsx_rearmed.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Pokémon Mini</td>
<td style="text-align: left;">PokeMini</td>
<td style="text-align: left;"><a href="pokemini.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">PSP</td>
<td style="text-align: left;">PPSSPP</td>
<td style="text-align: left;"><a href="ppsspp.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Saturn</td>
<td style="text-align: left;">Beetle Saturn</td>
<td style="text-align: left;"><a href="beetle_saturn.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Saturn</td>
<td style="text-align: left;">Kronos</td>
<td style="text-align: left;"><a href="kronos.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Saturn</td>
<td style="text-align: left;">Yabause</td>
<td style="text-align: left;"><a href="yabause.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Saturn</td>
<td style="text-align: left;">YabaSanshiro</td>
<td style="text-align: left;"><a href="yabasanshiro.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Sharp - X68000</td>
<td style="text-align: left;">PX68k</td>
<td style="text-align: left;"><a href="px68k.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes Accuracy</td>
<td style="text-align: left;"><a href="bsnes_accuracy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes Balanced</td>
<td style="text-align: left;"><a href="bsnes_balanced.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes Performance</td>
<td style="text-align: left;"><a href="bsnes_performance.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes-mercury Acc</td>
<td style="text-align: left;"><a href="bsnes_mercury_accuracy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes-mercury Bal</td>
<td style="text-align: left;"><a href="bsnes_mercury_balanced.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">bsnes-mercury Perf</td>
<td style="text-align: left;"><a href="bsnes_mercury_performance.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">nSide Balanced</td>
<td style="text-align: left;"><a href="nside_balanced.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">higan Accuracy</td>
<td style="text-align: left;"><a href="higan_accuracy.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">SNES/Super Famicom</td>
<td style="text-align: left;">Mesen-S</td>
<td style="text-align: left;"><a href="mesen-s.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">ST/STE/TT/Falcon</td>
<td style="text-align: left;">Hatari</td>
<td style="text-align: left;"><a href="hatari.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Thomson - MO/TO</td>
<td style="text-align: left;">Theodore</td>
<td style="text-align: left;"><a href="theodore.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">Vectrex</td>
<td style="text-align: left;">vecx</td>
<td style="text-align: left;"><a href="vecx.md#bios">BIOS information</a></td>
</tr>
<tr>
<td style="text-align: left;">ZX Spectrum</td>
<td style="text-align: left;">Fuse</td>
<td style="text-align: left;"><a href="fuse.md#bios">BIOS information</a></td>
</tr>
</tbody>
</table>
