<h1 id="the-powder-toy">The Powder Toy</h1>
<h2 id="background">Background</h2>
<p>Based upon the SDL version: <a href="https://github.com/ThePowderToy/The-Powder-Toy">https://github.com/ThePowderToy/The-Powder-Toy</a></p>
<p>Have you ever wanted to blow something up? Or maybe you always dreamt of operating an atomic power plant? Do you have a will to develop your own CPU? The Powder Toy lets you to do all of these, and even more!</p>
<p>The Powder Toy is a free physics sandbox game, which simulates air pressure and velocity, heat, gravity and a countless number of interactions between different substances! The game provides you with various building materials, liquids, gases and electronic components which can be used to construct complex machines, guns, bombs, realistic terrains and almost anything else. You can then mine them and watch cool explosions, add intricate wirings, play with little stickmen or operate your machine. You can browse and play thousands of different saves made by the community or upload your own - we welcome your creations!</p>
<p>There is a Lua API - you can automate your work or even make plugins for the game. The Powder Toy is free and the source code is distributed under the GNU General Public License, so you can modify the game yourself or help with development. TPT-LibRetro is compiled using cmake.</p>
<h2 id="instructions">Instructions</h2>
<p>Click on the elements with the mouse and draw in the field, like in MS Paint. The rest of the game is learning what happens next.</p>
<h4 id="how-to-start-the-the-powder-toy-core">How to start the The Powder Toy core:</h4>
<ul>
<li><p>To start the The Powder Toy core, go to RetroArch's main menu screen. Select 'Load Core', then 'The Powder Toy'.</p>
</li>
<li><p>Now, select 'Start Core'.</p>
</li>
</ul>
<p>The content should now start running!</p>
<h3 id="authorlicense">Author/License</h3>
<p>The The Powder Toy core has been authored by</p>
<ul>
<li>jselby</li>
<li>Original TPT Contributors</li>
</ul>
<p>The The Powder Toy core is licensed under</p>
<ul>
<li><a href="https://github.com/libretro/ThePowderToy/blob/master/LICENSE">GPLv3</a></li>
</ul>
<p>A summary of the licenses behind RetroArch and its cores can be found <a href="../development/licenses.md">here</a>.</p>
<h2 id="extensions">Extensions</h2>
<p>Content that can be loaded by the The Powder Toy core have the following file extensions:</p>
<ul>
<li>.cps</li>
</ul>
<h2 id="features">Features</h2>
<p>Frontend-level settings or features that the The Powder Toy core respects.</p>
<table>
<thead>
<tr>
<th>Feature</th>
<th style="text-align: center;">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td>Restart</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Screenshots</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Saves</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>States</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Rewind</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Netplay</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Core Options</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroAchievements</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroArch Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Native Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Controls</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Remapping</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Multi-Mouse</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rumble</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Sensors</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Camera</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Location</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Subsystem</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td><a href="../guides/softpatching.md">Softpatching</a></td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Disk Control</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Username</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Language</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Crop Overscan</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>LEDs</td>
<td style="text-align: center;">✕</td>
</tr>
</tbody>
</table>
<h3 id="directories">Directories</h3>
<p>The The Powder Toy core's library name is 'The Powder Toy'</p>
<p>The The Powder Toy core saves/loads to/from these directories.</p>
<p><strong>Frontend's Save directory</strong></p>
<table>
<thead>
<tr>
<th style="text-align: center;">File</th>
<th style="text-align: center;">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">The Powder Toy/Saves/*.cps</td>
<td style="text-align: center;">Simulations that have been saved to the computer.</td>
</tr>
</tbody>
</table>
<p><strong>Frontend's State directory</strong></p>
<table>
<thead>
<tr>
<th style="text-align: center;">File</th>
<th style="text-align: center;">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">*.state#</td>
<td style="text-align: center;">State</td>
</tr>
</tbody>
</table>
<h3 id="geometry-and-timing">Geometry and timing</h3>
<ul>
<li>The The Powder Toy core's core provided FPS is 60</li>
<li>The The Powder Toy core's core provided sample rate is 32000 Hz</li>
<li>The The Powder Toy core's base width is (Base width)</li>
<li>The The Powder Toy core's base height is (Base height)</li>
<li>The The Powder Toy core's max width is (Max width)</li>
<li>The The Powder Toy core's max height is (Max height)</li>
<li>The The Powder Toy core's core provided aspect ratio is (Ratio)</li>
</ul>
<h2 id="controls">Controls</h2>
<table>
<thead>
<tr>
<th>Key</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr>
<td>TAB</td>
<td>Switch between circle/square/triangle brush</td>
</tr>
<tr>
<td>Space</td>
<td>Pause</td>
</tr>
<tr>
<td>Q / Esc</td>
<td>Quit</td>
</tr>
<tr>
<td>Z</td>
<td>Zoom</td>
</tr>
<tr>
<td>S</td>
<td>Save stamp (+ Ctrl when STK2 is out)</td>
</tr>
<tr>
<td>L</td>
<td>Load last saved stamp</td>
</tr>
<tr>
<td>K</td>
<td>Stamp library</td>
</tr>
<tr>
<td>1-9</td>
<td>Set view mode</td>
</tr>
<tr>
<td>P / F2</td>
<td>Save screenshot to .png</td>
</tr>
<tr>
<td>E</td>
<td>Bring up element search</td>
</tr>
<tr>
<td>F</td>
<td>Pause and go to next frame</td>
</tr>
<tr>
<td>G</td>
<td>Increase grid size</td>
</tr>
<tr>
<td>Shift + G</td>
<td>Decrease grid size</td>
</tr>
<tr>
<td>H</td>
<td>Show/Hide HUD</td>
</tr>
<tr>
<td>Ctrl + H / F1</td>
<td>Show intro text</td>
</tr>
<tr>
<td>D / F3</td>
<td>Debug mode (+ Ctrl when STK2 is out)</td>
</tr>
<tr>
<td>I</td>
<td>Invert Pressure and Velocity map</td>
</tr>
<tr>
<td>W</td>
<td>Toggle gravity modes (+ Ctrl when STK2 is out)</td>
</tr>
<tr>
<td>Y</td>
<td>Toggle air modes</td>
</tr>
<tr>
<td>B</td>
<td>Enter decoration editor menu</td>
</tr>
<tr>
<td>Ctrl + B</td>
<td>Toggle decorations on/off</td>
</tr>
<tr>
<td>N</td>
<td>Toggle Newtonian Gravity on/off</td>
</tr>
<tr>
<td>U</td>
<td>Toggle ambient heat on/off</td>
</tr>
<tr>
<td>Ctrl + I</td>
<td>Install powder toy, for loading saves/stamps by double clicking</td>
</tr>
<tr>
<td>~</td>
<td>Console</td>
</tr>
<tr>
<td>=</td>
<td>Reset pressure and velocity map</td>
</tr>
<tr>
<td>Ctrl + =</td>
<td>Reset Electricity</td>
</tr>
<tr>
<td>[</td>
<td>Decrease brush size</td>
</tr>
<tr>
<td>]</td>
<td>Increase brush size</td>
</tr>
<tr>
<td>Alt + [</td>
<td>Decrease brush size by 1</td>
</tr>
<tr>
<td>Alt + ]</td>
<td>Increase brush size by 1</td>
</tr>
<tr>
<td>Ctrl + C/V/X</td>
<td>Copy/Paste/Cut</td>
</tr>
<tr>
<td>Ctrl + Z</td>
<td>Undo</td>
</tr>
<tr>
<td>Ctrl + Y</td>
<td>Redo</td>
</tr>
<tr>
<td>Ctrl + Cursor drag</td>
<td>Rectangle</td>
</tr>
<tr>
<td>Shift + Cursor drag</td>
<td>Line</td>
</tr>
<tr>
<td>Middle click</td>
<td>Sample element</td>
</tr>
<tr>
<td>Alt + Left click</td>
<td>Sample element</td>
</tr>
<tr>
<td>Mouse scroll</td>
<td>Change brush size</td>
</tr>
<tr>
<td>Ctrl + Mouse scroll</td>
<td>Change vertical brush size</td>
</tr>
<tr>
<td>Shift + Mouse scroll</td>
<td>Change horizontal brush size</td>
</tr>
<tr>
<td>Shift + R</td>
<td>Horizontal mirror for selected area when pasting stamps</td>
</tr>
<tr>
<td>Ctrl + Shift + R</td>
<td>Vertical mirror for selected area when pasting stamps</td>
</tr>
<tr>
<td>R</td>
<td>Rotate selected area counterclockwise when pasting stamps</td>
</tr>
</tbody>
</table>
<h2 id="external-links">External Links</h2>
<ul>
<li><a href="http://powdertoy.co.uk/">Official The Powder Toy Website</a></li>
<li><a href="https://github.com/ThePowderToy/The-Powder-Toy">Official The Powder Toy Github Repository</a></li>
<li><a href="https://github.com/libretro/libretro-super/blob/master/dist/info/thepowdertoy_libretro.info">Libretro The Powder Toy Core info file</a></li>
<li><a href="https://github.com/libretro/ThePowderToy">Libretro The Powder Toy Github Repository</a></li>
<li><a href="https://github.com/libretro/ThePowderToy/issues">Report Libretro The Powder Toy Core Issues Here</a></li>
</ul>
