/*---------------------------------------
    15. Comment CSS
-----------------------------------------*/


/*-- Comment Wrap --*/
.comment-wrapper {
    & h3 {
        margin-bottom: 30px;
    }
}
/*-- Comment Form --*/
.comment-form {
    & input {
        width: 100%;
        height: 50px;
        border: 0;
        border-bottom: 1px solid #eeeeee;
        padding: 5px 20px;
        color: $body-color;
    }
    & textarea {
        width: 100%;
        height: 130px;
        border: 0;
        border-bottom: 1px solid #eeeeee;
        padding: 10px 20px;
        color: $body-color;
        resize: none;
    }
    & input[type="submit"], & button, & .submit {
        width: auto;
        height: 50px;
        border: none;
        padding: 5px 30px;
        background-color: $theme-color;
        color: $white;
        font-size: 20px;
        line-height: 45px;
        font-family: $heading-font;
        border-radius: 50px;
        &:hover {
            background-color: $hover-color;
        }
    }
}