<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp rescap">
  <Identity Name="RetriX.Gold" Publisher="CN=Bashar Astifan" Version="3.0.30.0" />
  <mp:PhoneIdentity PhoneProductId="afc54b08-3566-4c74-810c-c9437145cdf4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RetriXGold III</DisplayName>
    <PublisherDisplayName>Bashar Astifan</PublisherDisplayName>
    <Logo>Assets\PackageLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Retrix.Gold.UWP.App">
      <uap:VisualElements Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Universal Emulator, Unlimited Gaming" BackgroundColor="transparent" DisplayName="RetriXGold III">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="generalfiles">
            <uap:DisplayName>Rom file</uap:DisplayName>
            <uap:Logo>Assets\FilesIcons\bin.png</uap:Logo>
            <uap:InfoTip>Rom file</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.cue</uap:FileType>
              <uap:FileType>.iso</uap:FileType>
              <uap:FileType>.chd</uap:FileType>
              <uap:FileType>.bin</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ndsroms">
            <uap:DisplayName>NDS Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\NDS.png</uap:Logo>
            <uap:InfoTip>NDS Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.nds</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="snesroms">
            <uap:DisplayName>SNES Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\SNES.png</uap:Logo>
            <uap:InfoTip>SNES Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.smc</uap:FileType>
              <uap:FileType>.sfc</uap:FileType>
              <uap:FileType>.swc</uap:FileType>
              <uap:FileType>.fig</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="nesrom">
            <uap:DisplayName>NES Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\NES.png</uap:Logo>
            <uap:InfoTip>NES Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.fds</uap:FileType>
              <uap:FileType>.nes</uap:FileType>
              <uap:FileType>.unf</uap:FileType>
              <uap:FileType>.unif</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gbcroms">
            <uap:DisplayName>GameBoy Color Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\GBC.png</uap:Logo>
            <uap:InfoTip>GameBoy Color Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.gbc</uap:FileType>
              <uap:FileType>.cgb</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gbaroms">
            <uap:DisplayName>GameBoy Advance Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\GBA.png</uap:Logo>
            <uap:InfoTip>GameBoy Advance Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.gba</uap:FileType>
              <uap:FileType>.sgb</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="megadriveroms">
            <uap:DisplayName>SEGA Mega Drive Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\MegaDrive.png</uap:Logo>
            <uap:InfoTip>SEGA Mega Drive Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.mdx</uap:FileType>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.smd</uap:FileType>
              <uap:FileType>.gen</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mastersystemroms">
            <uap:DisplayName>SEGA Master System Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\MasterSystem.png</uap:Logo>
            <uap:InfoTip>SEGA Master System Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.sms</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gamegearroms">
            <uap:DisplayName>Game Gear Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\GameGear.png</uap:Logo>
            <uap:InfoTip>Game Gear Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.gg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="sgroms">
            <uap:DisplayName>SG1000 Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\SG1000.png</uap:Logo>
            <uap:InfoTip>SG1000 Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.sg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ngproms">
            <uap:DisplayName>NeoGeo Pocket Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\NeoGeo Pocket.png</uap:Logo>
            <uap:InfoTip>NeoGeo Pocket Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.ngp</uap:FileType>
              <uap:FileType>.ngc</uap:FileType>
              <uap:FileType>.ngpc</uap:FileType>
              <uap:FileType>.npc</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="pcengineroms">
            <uap:DisplayName>PC Engine Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\PCE.png</uap:Logo>
            <uap:InfoTip>PC Engine Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.pce</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ziproms">
            <uap:DisplayName>Compressed Rom</uap:DisplayName>
            <uap:Logo>Assets\FilesIcons\zip.png</uap:Logo>
            <uap:InfoTip>Compressed Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.sip</uap:FileType>
              <uap:FileType>.rbp</uap:FileType>
              <uap:FileType>.7z</uap:FileType>
              <uap:FileType>.rar</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="s32xroms">
            <uap:DisplayName>SEGA 32X Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\32X.png</uap:Logo>
            <uap:InfoTip>SEGA 32X Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.32x</uap:FileType>
              <uap:FileType>.68k</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="n64rom">
            <uap:SupportedFileTypes>
              <uap:FileType>.n64</uap:FileType>
              <uap:FileType>.z64</uap:FileType>
              <uap:FileType>.v64</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>N64 Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\N64.png</uap:Logo>
            <uap:InfoTip>N64 Rom</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="playstationroms">
            <uap:SupportedFileTypes>
              <uap:FileType>.pbp</uap:FileType>
              <uap:FileType>.ccd</uap:FileType>
              <uap:FileType>.toc</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:InfoTip>PlayStation Rom</uap:InfoTip>
            <uap:DisplayName>PlayStation Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Playstation.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="megacdroms">
            <uap:SupportedFileTypes>
              <uap:FileType>.smcd</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>SEGA MegaCD Rom</uap:DisplayName>
            <uap:InfoTip>SEGA MegaCD Rom</uap:InfoTip>
            <uap:Logo>Assets\RomsIcons\MegaCD.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="arcaderoms">
            <uap:SupportedFileTypes>
              <uap:FileType>.arca</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Arcade Rom</uap:DisplayName>
            <uap:InfoTip>Arcade Rom</uap:InfoTip>
            <uap:Logo>Assets\Icons\Arcade.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="psproms">
            <uap:SupportedFileTypes>
              <uap:FileType>.elf</uap:FileType>
              <uap:FileType>.cso</uap:FileType>
              <uap:FileType>.prx</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>PSP Rom</uap:DisplayName>
            <uap:InfoTip>PSP Rom</uap:InfoTip>
            <uap:Logo>Assets\RomsIcons\PSP.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="saturnroms">
            <uap:SupportedFileTypes>
              <uap:FileType>.m3u</uap:FileType>
              <uap:FileType>.satu</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:InfoTip>SEGA Saturn Rom</uap:InfoTip>
            <uap:DisplayName>SEGA Saturn Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Saturn.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gbroms">
            <uap:SupportedFileTypes>
              <uap:FileType>.gb</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>GameBoy Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\GB.png</uap:Logo>
            <uap:InfoTip>GameBoy Rom</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="3dsroms">
            <uap:SupportedFileTypes>
              <uap:FileType>.3ds</uap:FileType>
              <uap:FileType>.cia</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Nintendo 3DS Rom</uap:DisplayName>
            <uap:InfoTip>Nintendo 3DS Rom</uap:InfoTip>
            <uap:Logo>Assets\Icons\3DS.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gamecuberoms">
            <uap:DisplayName>Game Cube Rom</uap:DisplayName>
            <uap:Logo>Assets\Icons\GameCube.png</uap:Logo>
            <uap:InfoTip>Game Cube Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.wbfs</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="switchroms">
            <uap:DisplayName>Nintendo Switch Rom</uap:DisplayName>
            <uap:Logo>Assets\Icons\Switch.png</uap:Logo>
            <uap:InfoTip>Nintendo Switch Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.nsp</uap:FileType>
              <uap:FileType>.xci</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="dreamcastroms">
            <uap:DisplayName>SEGA Dreamcast Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Dreamcast.png</uap:Logo>
            <uap:InfoTip>SEGA Dreamcast Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.cdi</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="atarijaguarroms">
            <uap:DisplayName>Atari Jaguar Rom</uap:DisplayName>
            <uap:Logo>Assets\Icons\Atari Jaguar.png</uap:Logo>
            <uap:InfoTip>Atari Jaguar Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.jag</uap:FileType>
              <uap:FileType>.j64</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="lynxroms">
            <uap:DisplayName>Atari Lynx Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Lynx.png</uap:Logo>
            <uap:InfoTip>Atari Lynx Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.lnx</uap:FileType>
              <uap:FileType>.o</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->

        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="vectrexroms">
            <uap:DisplayName>Vectrex Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Vectrex.png</uap:Logo>
            <uap:InfoTip>Vectrex Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.vec</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->


        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="atari7800roms">
            <uap:DisplayName>Atari 7800 Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\Atari7800.png</uap:Logo>
            <uap:InfoTip>Atari 7800 Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.a78</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->

        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="msxroms">
            <uap:DisplayName>MSX Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\MSX.png</uap:Logo>
            <uap:InfoTip>MSX Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.mx1</uap:FileType>
              <uap:FileType>.mx2</uap:FileType>
              <uap:FileType>.dsk</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->

        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="virtualboyroms">
            <uap:DisplayName>VirtualBoy Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\VirtualBoy.png</uap:Logo>
            <uap:InfoTip>VirtualBoy Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.vboy</uap:FileType>
              <uap:FileType>.vb</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->

        <!--<uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="pokemonminirom">
            <uap:DisplayName>Pokemon Mini Rom</uap:DisplayName>
            <uap:Logo>Assets\RomsIcons\PokeMini.png</uap:Logo>
            <uap:InfoTip>Pokemon Mini Rom</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.min</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>-->
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="rgx"/>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="core"/>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="rgxactivate"/>
        </uap:Extension>
       
      </Extensions>
    </Application>
  </Applications>
  
  <Capabilities>
    <!--<rescap:Capability Name="confirmAppClose" />-->
    <Capability Name="codeGeneration"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="picturesLibrary"/>
    <!--<rescap:Capability Name="broadFileSystemAccess" />-->
    <rescap:Capability Name="expandedResources" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>