<h1 id="wolfenstein-3dspear-of-destinysuper-3d-noahs-ark-ecwolf-wip">Wolfenstein 3D/Spear of Destiny/Super 3D Noah’s Ark (ECWolf) <em>WIP</em></h1>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/1my0auvYH-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2 id="background">Background</h2>
<p>ECWolf is a port of the Wolfenstein 3D engine based of Wolf4SDL. It combines the original Wolfenstein 3D engine with the user experience of ZDoom to create the most user and mod author friendly Wolf3D source port.</p>
<p>Like ZDoom, ECWolf aims to support all games which use the Wolfenstein 3D engine including Blake Stone (coming in ECWolf 3.0), Corridor 7, Operation Body Count, Rise of the Triad, and Super 3D Noah's Ark. ECWolf will also support Macintosh Wolfenstein 3D along with all of its user created missions (coming in ECWolf 2.0).</p>
<ul>
<li>phcoder</li>
</ul>
<p>The ECWolf core is licensed under</p>
<ul>
<li><a href="">BSD/LGPL</a></li>
</ul>
<p>A summary of the licenses behind RetroArch and its cores can be found <a href="../development/licenses.md">here</a>.</p>
<ul>
<li>Single binary runs all supported games. (Wolfenstein 3D, Spear of Destiny, ...)</li>
<li>Full support for high resolution modes with aspect ratio correction including wide screen support.</li>
<li>Modern control schemes (WASD + mouse).</li>
<li>Mac Wolf/S3DNA/ROTT style automap.</li>
<li>Unlimited save slots.</li>
<li>This is actually based on the Wolf3D engine instead of a recreation or forcing into a more modern engine.</li>
<li>Software rendered using the same 8-bit ray casting.</li>
</ul>
<h2 id="extensions">Extensions</h2>
<p>Content that can be loaded by the ECWolf core have the following file extensions:</p>
<ul>
<li>wl6</li>
<li>n3d</li>
<li>sod</li>
<li>sdm</li>
<li>wl1</li>
<li>pk3</li>
<li>exe</li>
</ul>
<h2 id="databases">Databases</h2>
<p>RetroArch database(s) that are associated with the ECWolf core:</p>
<ul>
<li><a href="https://github.com/libretro/libretro-database/blob/master/rdb/Wolfenstein%203D.rdb">ECWolf</a></li>
</ul>
<h2 id="bios">BIOS</h2>
<p>ECWolf does require BIOS (bootrom) files to work.</p>
<ul>
<li>ecwolf.pk3</li>
</ul>
<h2 id="features">Features</h2>
<table>
<thead>
<tr>
<th>Feature</th>
<th style="text-align: center;">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td>Restart</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Screenshots</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Saves</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>States</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Rewind</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Netplay</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Core Options</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroAchievements</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroArch Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Native Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Controls</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Remapping</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Multi-Mouse</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rumble</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Sensors</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Camera</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Location</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Subsystem</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Softpatching</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Disk Control</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Username</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Crop Overscan (in RetroArch's Video settings)</td>
<td style="text-align: center;">✕</td>
</tr>
</tbody>
</table>
<h3 id="directories">Directories</h3>
<p>The TIC-80 core's internal core name is <code>ecwolf</code>.</p>
<h3 id="core-provided-aspect-ratio">Core provided aspect ratio</h3>
<p>ECWolf's core provided aspect ratio is 16:10.</p>
<h2 id="core-options">Core options</h2>
<h2 id="controllers">Controllers</h2>
<h3 id="device-types">Device types</h3>
<p>The ECWolf core supports the following device type(s) in the controls menu, bolded device types are the default for the specified user(s):</p>
<h4 id="user-1-1-device-types">User 1 - 1 device types</h4>
<ul>
<li>None - Input disabled.</li>
<li><strong>RetroPad</strong> - Joypad</li>
<li>RetroPad w/Analog - Joypad - <strong>There is no reason to switch to this.</strong></li>
</ul>
<h3 id="controller-tables">Controller tables</h3>
<h4 id="joypad-and-analog-device-type-table">Joypad and analog device type table</h4>
<table>
<thead>
<tr>
<th>RetroPad Inputs</th>
<th>User 1 - 5 input descriptors</th>
</tr>
</thead>
<tbody>
<tr>
<td><img src="../image/retropad/retro_b.png" alt="" /></td>
<td>Z</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_a.png" alt="" /></td>
<td>X</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_up.png" alt="" /></td>
<td>D-Pad Up</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_down.png" alt="" /></td>
<td>D-Pad Down</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_left.png" alt="" /></td>
<td>D-Pad Left</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_right.png" alt="" /></td>
<td>D-Pad Right</td>
</tr>
</tbody>
</table>
<h2 id="external-links">External Links</h2>
<ul>
<li><a href="https://github.com/libretro/libretro-super/blob/master/dist/info/ecwolf_libretro.info">Libretro ECWolf Core info file</a></li>
<li><a href="https://github.com/libretro/ecwolf">Libretro ECWolf Github Repository</a></li>
<li><a href="https://github.com/libretro/ecwolf/issues">Report ECWolf Core Issues Here</a></li>
</ul>
