<h1 id="chip-8-emux">CHIP-8 (Emux)</h1>
<p><strong>This core currently doesn't start so this documentation will remain incomplete until it is fixed.</strong></p>
<h2 id="contribute-to-this-documentation">Contribute to this documentation</h2>
<p>In order to propose improvements to this document, <a href="https://github.com/libretro/docs/tree/master/docs/library/emux_chip8.md">visit it's corresponding source page on github</a>. Changes are proposed using &quot;Pull Requests.&quot;</p>
<h2 id="background">Background</h2>
<p>Emux is a cross-platform emulator project with a goal of emulating multiple kinds of machines related to gaming, such as consoles or arcades. Its philosophy is very much inspired by the Linux kernel (hence the name), which brilliantly manages to support multiple machines while keeping drivers entirely platform-independent. Emux is designed in the same way, keeping a code base of CPUs and controllers separate from machines.</p>
<h3 id="how-to-get-and-install-the-emux-chip-8-core">How to get and install the Emux CHIP-8 core:</h3>
<ol>
<li><p>Start up RetroArch. Inside the main menu, go to 'Online Updater'.</p>
</li>
<li><p>Just to make sure we have the latest info files, select 'Update Core Info FIles'. Wait until this is done. Then, select 'Core Updater'.</p>
</li>
<li><p>Browse through the list and select 'CHIP-8 (Emux)'.</p>
</li>
</ol>
<p>After this has finished downloading, the core should now be ready for use!</p>
<h3 id="authors">Authors</h3>
<ul>
<li>Sebastien Ronsse</li>
</ul>
<h2 id="license">License</h2>
<p>A summary of the licenses behind RetroArch and its cores can be found <a href="../development/licenses.md">here</a>.</p>
<ul>
<li><a href="https://github.com/libretro/emux/blob/master/COPYING">GPLv2</a></li>
</ul>
<h2 id="extensions">Extensions</h2>
<p>Content that can be loaded by the Emux CHIP-8 core have the following file extensions:</p>
<ul>
<li>.ch8</li>
<li>.bin</li>
<li>.rom</li>
</ul>
<h2 id="features">Features</h2>
<table>
<thead>
<tr>
<th>Feature</th>
<th style="text-align: center;">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td>Saves</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>States</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Rewind</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Netplay</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>RetroAchievements</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>RetroArch Cheats</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Native Cheats</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Controllers</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Remapping</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Multi-Mouse</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Rumble</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Sensors</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Camera</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Location</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Subsystem</td>
<td style="text-align: center;">-</td>
</tr>
<tr>
<td>Softpatching</td>
<td style="text-align: center;">-</td>
</tr>
</tbody>
</table>
<h3 id="savesstates">Saves/States</h3>
<p>The Emux CHIP-8 core's directory name is 'emux (chip8)'</p>
<p>Awaiting description.</p>
<h2 id="core-options">Core options</h2>
<p>Awaiting description.</p>
<h2 id="controllers">Controllers</h2>
<p>Awaiting description.</p>
<h3 id="device-types">Device types</h3>
<p>Awaiting description.</p>
<h3 id="controllers-graph">Controllers graph</h3>
<p>Awaiting description.</p>
<h2 id="external-links">External Links</h2>
<ul>
<li><a href="https://github.com/libretro/libretro-super/blob/master/dist/info/emux_chip8_libretro.info">Libretro Emux CHIP-8 Core info file</a></li>
<li><a href="https://github.com/libretro/emux">Libretro Emux CHIP-8 Github Repository</a></li>
<li><a href="https://github.com/libretro/libretro-meta/issues">Report Libretro Emux CHIP-8 Core Issues Here</a></li>
<li><a href="https://github.com/sronsse/emux">Official Emux CHIP-8 Github Repository</a></li>
</ul>
<h2 id="chip-8">CHIP-8</h2>
<ul>
<li><a href="jaxe.md">XO-CHIP/CHIP-8 (JAXE)</a></li>
</ul>
