<h1 id="jump-n-bump">Jump 'n Bump</h1>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YHrocZPWiH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2 id="background">Background</h2>
<p>This is a game for the whole family. You play cute fluffy little bunnies and hop on each other's heads.</p>
<p>At the beginning you are in the menu, where you have to let each active player jump over the tree trunk to enter the play area, and then walk to the right. You will then enter the arena. The aim is to jump on the other bunnies' heads…</p>
<p>Jump 'n Bump was originally a DOS game by Brainchild Design, which was open sourced under the GPL license and ported to SDL, and then SDL2.</p>
<h3 id="extra-levels">Extra levels</h3>
<p>Additional levels are available on the website of <a href="http://www.brainchilddesign.com/games/jumpnbump/levels/levels1.html">Brainchild Design</a>.</p>
<h3 id="authorlicense">Author/License</h3>
<p>The Jump 'n Bump core has been authored by</p>
<ul>
<li>loki666</li>
</ul>
<p>The Jump 'n Bump core is licensed under</p>
<ul>
<li><a href="https://github.com/fabiangreffrath/jumpnbump/blob/master/COPYING">GPLv2</a></li>
</ul>
<p>A summary of the licenses behind RetroArch and its cores can be found <a href="../development/licenses.md">here</a>.</p>
<h2 id="extensions">Extensions</h2>
<p>Content that can be loaded by the Jump 'n Bump core have the following file extensions:</p>
<ul>
<li>.dat</li>
</ul>
<h2 id="databases">Databases</h2>
<p>RetroArch database(s) that are associated with the Jump 'n Bump core:</p>
<ul>
<li><a href="https://github.com/libretro/libretro-database/blob/master/rdb/Jump%20%27n%20Bump.rdb">Jump 'n Bump</a></li>
</ul>
<h2 id="bios">BIOS</h2>
<p>There are no required BIOS.</p>
<h2 id="features">Features</h2>
<p>Frontend-level settings or features that the Jump 'n Bump core respects.</p>
<table>
<thead>
<tr>
<th>Feature</th>
<th style="text-align: center;">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td>Restart</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Screenshots</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Saves</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>States</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rewind</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Netplay</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Core Options</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>RetroAchievements</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroArch Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Native Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Controls</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Remapping</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Multi-Mouse</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rumble</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Sensors</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Camera</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Location</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Subsystem</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td><a href="../guides/softpatching.md">Softpatching</a></td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Disk Control</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Username</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Language</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Crop Overscan</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>LEDs</td>
<td style="text-align: center;">✕</td>
</tr>
</tbody>
</table>
<h3 id="directories">Directories</h3>
<p>The Jump 'n Bump core's internal core name is 'Jump 'n Bump'</p>
<h3 id="geometry-and-timing">Geometry and timing</h3>
<ul>
<li>The Jump 'n Bump core's core provided FPS is (60)</li>
<li>The Jump 'n Bump core's core provided sample rate is 44100 Hz</li>
<li>The minivmac core's base width is 1200.</li>
<li>The minivmac core's base height is 768.</li>
<li>The minivmac core's core provided aspect ratio is 25/16.</li>
</ul>
<h2 id="core-options">Core options</h2>
<p>The Jump 'n Bump core has the following option(s) that can be tweaked from the core options menu. The default setting is bolded.</p>
<p>Settings with (Restart) means that core has to be closed for the new setting to be applied on next launch.</p>
<ul>
<li><p><strong>Flip Level</strong> [jnb-flip] (<strong>OFF</strong>|ON)</p>
<p>??? note &quot;<em>Flip Level - Off</em>&quot;
<img src="../image/core/jump_n_bump/jump-n-bump-flip-level-off.png" alt="" /></p>
<p>??? note &quot;<em>Flip Level - On</em>&quot;
<img src="../image/core/jump_n_bump/jump-n-bump-flip-level-on.png" alt="" /></p>
</li>
<li><p><strong>Flies</strong> [jnb-flies] (<strong>OFF</strong>|ON)</p>
<p>??? note &quot;<em>Flies - Off</em>&quot;
<img src="../image/core/jump_n_bump/jump-n-bump-flies-off.png" alt="" /></p>
<p>??? note &quot;<em>Flies - On</em>&quot;
<img src="../image/core/jump_n_bump/jump-n-bump-flies-on.png" alt="" /></p>
</li>
</ul>
<h2 id="controllers">Controllers</h2>
<p>The Jump 'n Bump core supports the following device type(s) in the controls menu, bolded device types are the default for the specified user(s):</p>
<h3 id="user-1-4-device-types">User 1 - 4 device types</h3>
<ul>
<li>None - Disables input.</li>
<li><strong>RetroPad</strong> - Joypad</li>
<li>RetroPad with Analog</li>
</ul>
<h3 id="controller-tables">Controller tables</h3>
<h4 id="joypad">Joypad</h4>
<p><img src="../image/controller/nes.png" alt="" /></p>
<table>
<thead>
<tr>
<th>User 1 - 4 Remap descriptors</th>
<th>RetroPad Inputs</th>
</tr>
</thead>
<tbody>
<tr>
<td>B</td>
<td><img src="../image/retropad/retro_b.png" alt="" /></td>
</tr>
<tr>
<td>Select</td>
<td><img src="../image/retropad/retro_select.png" alt="" /></td>
</tr>
<tr>
<td>Start</td>
<td><img src="../image/retropad/retro_start.png" alt="" /></td>
</tr>
<tr>
<td>D-Pad Up</td>
<td><img src="../image/retropad/retro_dpad_up.png" alt="" /></td>
</tr>
<tr>
<td>D-Pad Down</td>
<td><img src="../image/retropad/retro_dpad_down.png" alt="" /></td>
</tr>
<tr>
<td>D-Pad Left</td>
<td><img src="../image/retropad/retro_dpad_left.png" alt="" /></td>
</tr>
<tr>
<td>D-Pad Right</td>
<td><img src="../image/retropad/retro_dpad_right.png" alt="" /></td>
</tr>
</tbody>
</table>
<h2 id="external-links">External Links</h2>
<ul>
<li><a href="https://github.com/fabiangreffrath/jumpnbump">Jump 'n Bump Github Repository</a></li>
<li><a href="https://github.com/libretro/libretro-super/blob/master/dist/info/jumpnbump_libretro.info">Libretro Jump 'n Bump Core info file</a></li>
<li><a href="https://github.com/libretro/jumpnbump-libretro">Libretro Jump 'n Bump Github Repository</a></li>
<li><a href="https://github.com/libretro/jumpnbump-libretro/issues">Report Libretro Jump 'n Bump Core Issues Here</a></li>
</ul>
