<h1 id="rick-dangerous-xrick">Rick Dangerous (XRick)</h1>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/V09CwrlFgA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2 id="background">Background</h2>
<p>XRick is an open source implementation of the game &quot;Rick Dangerous&quot;. Rick Dangerous is a platform game developed by Core Design for the Acorn Archimedes, Amiga, Atari ST, Amstrad CPC, ZX Spectrum, Commodore 64, and MS-DOS. The game was released in 1989 and published by MicroProse on the Firebird Software label in the UK, and on the MicroPlay label in America. It was also published in Spain by Erbe Software. Later, it was released with two other games, Stunt Car Racer and MicroProse Soccer, on the Commodore 64 Powerplay 64 cartridge. The game was followed by a sequel, Rick Dangerous 2, in 1990. Loosely based on the Indiana Jones film franchise, the game received mixed reviews from critics. This libretro core is based on BigOrno's <a href="http://www.bigorno.net/xrick/">work</a>.</p>
<p>The XRick core have been authored by</p>
<ul>
<li>fabiensanglard</li>
<li>r-type</li>
<li>phcoder</li>
</ul>
<p>The XRick core is licensed under</p>
<ul>
<li><a href="https://github.com/libretro/xrick-libretro/blob/master/README">GPLv3</a></li>
</ul>
<p>A summary of the licenses behind RetroArch and its cores can be found <a href="../development/licenses.md">here</a>.</p>
<h2 id="extensions">Extensions</h2>
<p>Content that can be loaded by the XRick core have the following file extensions:</p>
<ul>
<li>.zip</li>
</ul>
<h2 id="databases">Databases</h2>
<p>RetroArch database(s) that are associated with the XRick core:</p>
<ul>
<li><a href="https://github.com/libretro/libretro-database/blob/master/rdb/Rick%20Dangerous.rdb">Rick Dangerous</a></li>
</ul>
<h2 id="bios">BIOS</h2>
<p>Required or optional firmware files go in the frontend's system directory.</p>
<table>
<thead>
<tr>
<th style="text-align: center;">Filename</th>
<th style="text-align: center;">Description</th>
<th style="text-align: center;">md5sum</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">xrick/data.zip</td>
<td style="text-align: center;">Audio and visual files required for Core to work.</td>
<td style="text-align: center;">A471E64E9F69AFBE59C10CC94ED1B184</td>
</tr>
</tbody>
</table>
<h2 id="features">Features</h2>
<p>Frontend-level settings or features that the XRick core respects.</p>
<table>
<thead>
<tr>
<th>Feature</th>
<th style="text-align: center;">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td>Restart</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Screenshots</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Saves</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>States</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rewind</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Netplay</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Core Options</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>RetroAchievements</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>RetroArch Cheats</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Native Cheats</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Controls</td>
<td style="text-align: center;">✔</td>
</tr>
<tr>
<td>Remapping</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Multi-Mouse</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Rumble</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Sensors</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Camera</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Location</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Subsystem</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td><a href="../guides/softpatching.md">Softpatching</a></td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Disk Control</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Username</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Language</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>Crop Overscan</td>
<td style="text-align: center;">✕</td>
</tr>
<tr>
<td>LEDs</td>
<td style="text-align: center;">✕</td>
</tr>
</tbody>
</table>
<h2 id="directories">Directories</h2>
<p>The XRick core's internal core name is 'xrick'.</p>
<h2 id="geometry-and-timing">Geometry and timing</h2>
<ul>
<li>The XRick core's core provided FPS is 25.</li>
<li>The XRick core's core provided sample rate is 22050.0 Hz.</li>
<li>The XRick core's core provided aspect ratio is 4/3.</li>
<li>The XRick core's base width is 801.</li>
<li>The XRick core's base height is 600.</li>
</ul>
<h2 id="core-options">Core Options</h2>
<p>The Mesen core has the following option(s) that can be tweaked from the core options menu. The default setting is bolded.</p>
<ul>
<li><p><strong>Crop Border</strong> [xrick_crop_borders] (<strong>ON</strong>|OFF)
Remove the 32 pixels of empty padding either side of the game screen. Note: Cheat mode indicators will only be shown if cropping is disabled.</p>
</li>
<li><p><strong>Cheats</strong>
Configure internal trainer/cheat modes provided by the game engine.</p>
<ul>
<li><strong>Trainer Mode</strong> [xrick_cheat1] (<strong>OFF</strong>|ON)
Always have 6 bullets, 6 dynamite stick, 6 lives.</li>
<li><strong>Invulnerability Mode</strong> [xrick_cheat2] (<strong>OFF</strong>|ON)
Nothing can kill Rick. Use with care. May break the game.</li>
<li><strong>Expose Mode</strong> [xrick_cheat3] (<strong>OFF</strong>|ON)
Highlight all entities on the game map.</li>
</ul>
</li>
</ul>
<h2 id="controllers">Controllers</h2>
<p>The XRick core supports the following device type(s) in the controls menu, bolded device types are the default for the specified user(s):</p>
<h3 id="user-1-device-types">User 1 device types</h3>
<ul>
<li>None - Doesn't disable input. There's no reason to switch to this.</li>
<li><strong>RetroPad</strong> - Joypad - Stay on this.</li>
<li>RetroPad w/Analog - Joypad - Same as RetroPad. There's no reason to switch to this.</li>
</ul>
<h3 id="controller-tables">Controller tables</h3>
<h4 id="joypad">Joypad</h4>
<table>
<thead>
<tr>
<th>RetroPad Inputs</th>
<th>XRick core inputs</th>
</tr>
</thead>
<tbody>
<tr>
<td><img src="../image/retropad/retro_dpad_up.png" alt="" /></td>
<td>Jump</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_down.png" alt="" /></td>
<td>Crouch</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_left.png" alt="" /></td>
<td>Left</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_dpad_right.png" alt="" /></td>
<td>Right</td>
</tr>
<tr>
<td><img src="../image/retropad/retro_a.png" alt="" /></td>
<td>Attack</td>
</tr>
</tbody>
</table>
<p>Supported combinations</p>
<ul>
<li>Attack + Left = Stab left using your bayonet</li>
<li>Attack + Right = Stab right using your bayonet</li>
<li>Attack + Up = Shoot</li>
<li>Attack + Down = Drop a bomb</li>
</ul>
<h2 id="external-links">External Links</h2>
<ul>
<li><a href="http://www.bigorno.net/xrick/">Official XRick Website</a></li>
<li><a href="https://github.com/libretro/libretro-super/blob/master/dist/info/xrick_libretro.info">Libretro XRick Core info file</a></li>
<li><a href="https://github.com/libretro/xrick-libretro">Libretro XRick Github Repository</a></li>
<li><a href="https://github.com/libretro/libretro-meta/issues">Report Libretro XRick Core Issues Here</a></li>
</ul>
